/* General */

:root {
  --very--light-blue: #a2ceee;
  --blue: #0a327b;
  --dark-grey-blue: #5E6778;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--very--light-blue);
}

img {
  width: 50px;
  height: 50px;
}

a {
    text-decoration: none;
    color: var(--dark-grey-blue);
}

/* Notifications */

.notifications {
  max-width: 730px;
  background-color: white;
  border-radius: 15px;
  padding: 2.5rem;
}

/* Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_title {
  margin: 0;
  font-size: 1.8rem;
}

.unread-count {
  background-color: var(--blue);
  color: white;
  font-size: 1, 5rem;
  padding: .2rem .7rem;
  border-radius: 6px;
  margin-left: .2rem;
}
